{% extends "base.html" %}
{% block content %}


<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>Image resizer</h1>
      <p>Files saved on server at .static\thumb</p>
      <hr>
      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
            <label class="custom-file-label" for="image" aria-describedby="Upload image">Select image</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload image</button>
      </form>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col">
      <h1>Multiple resizer</h1>
      <p>Files saved on server at .static\thumb</p>
      <hr>
      <form action="/upload-multiple" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="image-multi" id="image-multi" multiple oninput="filesize(this);">
              <label class="custom-file-label" for="image-multi" aria-describedby="Upload image">Select images</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2">
            <label for="img-max-width">Image max width (pixels)</label>
            <input type="number" name="max_width" class="form-control" id="img-max-width">
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-primary">Upload image</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  function filesize(elem) {
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>

{% endblock %}